{% extends "layout.html" %}

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter any expression, with or without x as your variable, or any number to recieve an answer!</h1>
    <form action="/calculate" method="post">
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" type="text" autofocus id="expression" name="expression" placeholder="Enter Function">
        </div>
        {% if expression %}
            <h1>{{ expression }}</h1>
        {% endif %}
    </form>
</body>
    
{% endblock %}