{% extends "layout.html" %}

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/graph" method="post">
        <div class="mb-3">
            <h1>Enter Function To Be Graphed</h1>
            <input class="form-control mx-auto w-auto" type="text" autofocus id="function" name="function" placeholder="Enter Function">
        </div>

        {% if plot_data %}
            <img src="data:image/png;base64,{{ plot_data }}" alt="Plot of sin(x)">
        {% endif %}

    </form>
</body>
    
{% endblock %}