{% extends "layout.html" %}

{% block main %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/simplify" method="post">
        <div class="mb-3">
            <h1>Enter Expression To Be Simplified</h1>
            <input class="form-control mx-auto w-auto" type="text" autofocus id="expression" name="expression" placeholder="Enter Function">
        </div>
        {% if expression %}
            <a>{{ expression }}</a>
        {% endif %}
    </form>
</body>
    
{% endblock %}